*{
    margin: 0px;
    padding: 0px;
   
    box-sizing: border-box;
}

.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
    background-color: rgb(100, 121, 115);

    


}
.testimonials h3{
    text-align: center;
    border-radius: 80px;
    background-color: black;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    color:aliceblue;
}
.single-item{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 50px 15px;

}
.profile{
    margin-bottom: 30px;
    text-align: center;
}

.image{
    margin: 0 15px 15px 15px;
}

.image img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(100, 121, 115);

}

.content{
    font-size: 18px;
    line-height: 30px;

}

.content p{
    text-align: justify;
}

.content p span{
    font-size: 48px;
    margin-right: 20px;
    color: cadetblue;
}

.socials i{
    margin-right: 25px;
}

.bio h4{
    font-family: berkshire swash;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(100%);
  background-color: black;

}
.icon {
    display: inline-block; /* Allows the container to size itself around the icon */
    background-color: #e0e0e0; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Space around the icon */
    margin: 5px; /* Space between icons */
    transition: transform 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center; /* Centers the icon */
}

.icon:hover {
    background-color:rgb(63, 63, 99); /* Darker background on hover */
    transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.icon i {
    color: blue /* Icon color */
    font-size: 30px; /* Icon size */
}

.hover-link:hover {
    color: #ffffff; /* Text color on hover */
    background-color: #007bff; /* Background color on hover */
    text-decoration: underline; /* Underline text on hover */
}
.nav-link {
    font-size: 55px;
    font-weight: 500;
    text-decoration: none;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #007bff; /* Initial text color */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
    color: #ffffff; /* Text color on hover */
    background-color: #007bff; /* Background color on hover */
    border-radius: 5px; /* Rounded corners for the hover effect */
}

.nav-item {
    margin: 0 10px; /* Space between navbar items */
}